@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
	font-family: 'Inter', sans-serif;
}

#description {
	color: white;
}

#menu {
	list-style-type: none;
}




.container {
	display:  flex;
}

.info {
	background-color: #3C3636;
}

.info_img {
	margin: 30px;
	padding-top: 30px;
	padding-right: 15px;
	padding-left: 10px;
}

.info_name_job {
	margin-left: 39px;

}

.main_title {
	color: white;
	height: 20px;
	}

.title {
	color: white;
	height: 20px;
	margin-left: 27px;
}

.info_forms {
	margin-top: 50px;
}

.menu_li {
	background-color: white;
	margin-top: 15px;
	padding: 10px;
	width: 320px;
}

.info_state_skills {
	margin-top: 50px;
	margin-left: 15px;
}

.info_state_hobbies {
	margin-top: 40px;
	margin-left: 15px;
}

.info_skills_item {
	margin-top: 40px;
}

.info_hobbies_item {
	margin-top: 40px;
}

.list {
	margin-top: 20px;
	color: white;
}

.li_wrapper {
	width: 345px;
}

.info_state {
	height: 770px;
}

#media {
	padding-top: 20px;
	padding-left: 16px;
}

#img1 {
	padding-right: 40px;
}

.info_state_item {
	padding-top: 20px;
	margin-left: 68px;
}

.about {
	margin-left: 50px;
	margin-top: 35px;
}

.about_myself_text {
	margin-left: 25px;
	width: 600px;
}

.about_education {
	margin-top: 120px;
}

.about_education_text {
	margin-top: 20px;
	margin-left: 22px;
}

.education_text1 {
	display: flex;
}

.education_text2 {
	display: flex;
}

#title_year {
	width: 150px;
	font-size: 26px;
}

#title_year_text {
	width: 400px;
	padding-top: 8px;
}

li {
	font-size: 18px;
}

p {
	font-size: 18px;
}

.about_companies {
	margin-top: 120px;
}

.companies_content {
	display: flex;
	margin-top: 38px;
}

.about_companies_text {
	margin-top: 70px;
}

.companies_text {
	width: 500px;
	margin-left: 40px;
}

.img2 {
	margin-top: 30px;
}